<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dog Central</title>
</head>

<body>
  <header class="primary-header flex container">

    <section>
      <a href="/" class="logo fw-bold text-primary">Dog<span class="central">Central</span></a>
    </section>

    <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only"
        aria-expanded="false"></span></button>

    <nav>
      <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
        <li class="active">
          <a class="nav-link accent-400" href="/">Home</a>
        </li>
        <li><a class="nav-link accent-400" href="#">About Us</a>
        </li>
        <li><a class="nav-link accent-400" href="#">Contact</a>
        </li>

        <div class="login flex">
          <a class="btn-signup bg-dark text-accent-100" href="/auth/register"> Sign up</a> <br />
          <a class="btn-login" href="/auth/login">Login</a>
        </div>
      </ul>
    </nav>

  </header>
</body>

</html>