<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dog Central</title>
</head>

<body>
  <section class="hero-container">
    <h1 class="fs-750 fw-bold text-primary">Welcome to <span class="d-block text-primary fw-bold">Dog
        Central</span></h1>
    <img class="banner-img"
      src="https://img.freepik.com/free-vector/friend-walking-with-pets-meeting-waving-hello-women-with-dog-cat-outside-flat-illustration_74855-10668.jpg?w=2000"
      alt="women with dogs">
  </section>
</body>

</html>