<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dog Central</title>
</head>

<body>
  <!-- MODAL -->
  <div id="login-modal" class="login-modal">
    <div class="modal">
      <div class="top-form">
        <div class="close-modal">
          <span class="fas fa-times"></span>
        </div>
      </div>
      <div class="signup-form">
        <h2 class="fw-bold text-accent-400">SIGN UP</h2>
        <span class="text-primary">Please enter your information below</span>
        <form method="POST" action="">
          <section class="form-control">
            <div class="error" style="background-color: red;"></div><br>

            <input type="text" id="firstName" placeholder="First Name" required><br>
            <input type="text" id="lastName" placeholder="Last Name" required><br>
            <input type="text" id="username" placeholder="Username" required /><br>
            <input type="password" id="password" placeholder="Password" required><br>
            <button type="submit" class="btn-signup bg-dark text-accent-100">Sign Up</button>
            <a class="register-link text-accent-400" href="/auth/login">Already have an account? Sign in</a>
          </section>
        </form>
      </div>
    </div>
  </div>
</body>

</html>