<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/dashboard.css">

  <title>Dashboard</title>
</head>

<body>
  <header class="container">
    <nav class="navbar">
      <a href="#" class="logo text-primary fw-bold"><span class="accent-400">Dog</span><span
          class="central">Central</span></a>

      <!-- TODO - show username here -->
      <h2>Welcome Back, <%= ownerName.firstName %>
      </h2>
      <button class="btn bg-dark"> <a href="/auth/logout">Log Out</a></button>
    </nav>
  </header>

  <main class="container">
    <!-- template end -->

    <!-- Pet Form -->
    <%- include('pet.ejs') %>
      <!-- template begins -->
  </main>

</body>

</html>