<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css">
  <title>Dashboard</title>
</head>

<body>
  <header class="container">
    <nav>
      <a href="#" class="logo text-primary fw-bold"><span class="accent-400">Dog</span>Central</a>
      <ul class="nav-links">
        <a class="nav-link btn" href="/auth/register"> Register</a> <br />
        <a class="nav-link btn btn-outline" href="/auth/login">Login</a>
      </ul>

    </nav>
  </header>

  <main class="container">
    <!-- template end -->

    <!-- TODO - show username here -->
    <h1>Hello, <%= ownerName.firstName %>
    </h1>
    <ul></ul>
    <button class="logout"> <a href="/auth/logout">Log Out</a></button>

    <!-- Pet Form -->
    <%- include('pet.ejs') %>
      <!-- template begine -->
  </main>
</body>

</html>