<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css">
  <title>Home page</title>
</head>

<body>
  <header class="primary-header flex container">
    <section>
      <a href="#" class="logo text-primary fw-bold"><span class="accent-400">Dog</span>Central</a>
    </section>

    <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only"
        aria-expanded="false"></span></button>

    <nav>
      <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
        <li class="active">
          <a class="nav-link accent-400" href="#">Home</a>
        </li>
        <li><a class="nav-link accent-400" href="#">About Us</a>
        </li>
        <li><a class="nav-link accent-400" href="#">Contact</a>
        </li>

        <div class="login flex">
          <a class="btn nav-link accent-400" href="/auth/register"> Sign up</a> <br />
          <a class="btn-outline nav-link accent-100" href="/auth/login">Login</a>
        </div>
      </ul>


    </nav>

  </header>

  <main class="container">
    <!-- template end -->

    <section class="hero-container">
      <h1 class="fs-750">Welcome to <span class="d-block">Dog Central</span></h1>
      <img class="banner-img"
        src="https://img.freepik.com/free-vector/friend-walking-with-pets-meeting-waving-hello-women-with-dog-cat-outside-flat-illustration_74855-10668.jpg?w=2000"
        alt="women with dogs">
    </section>

    <!-- template begine -->
  </main>
  <script src="main.js"></script>
</body>

</html>