<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>

<body>
  <h1>Login Page</h1>
  <form method="POST" action="">
    <div class="error" style="background-color: red;"></div><br>
    <label for="username">Username</label><br>
    <input type="text" id="username" required /><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" required><br>
    <!-- <input type="submit" value="login"><br> -->
    <a href="/auth/login">Login</a>
  </form>
  <a href="/auth/register">Don't have an account? Register</a>

  <script src="/login.js"></script>
</body>

</html>